/* center all headings to middle */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* easy to read paragraphs centered to middle, block aligned, margins at the sides */
p {
    font-size: 1em;
    color: #000000;
    text-align: justify;
    margin: 0em 10em;
    letter-spacing: .03em;
}

ul .podcast {
    list-style-image: url("microphone_small.png");
}
ul .book {
    list-style-image: url("book_small.png");
}