/* easy to read paragraphs centered to middle, block aligned, margins at the sides */
p {
    font-size: 1em;
    color: #000000;
    text-align: justify;
    margin: 0em 10em;
    letter-spacing: .03em;
}